{% load static %}

<div data-interval="3000" id="carouselExampleSlidesOnly" style="margin-top: 25px;;" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<a href="https://site-conteudo.azurewebsites.net/conteudo?nome={{ mainCarrosel.titulo }}"><div class="carousel-item active">
			<div class="row">
				<div class="col-md-3 col-sm-12" style="height: 550px;">
					<img src="{% static mainCarrosel.imagem %}" style="margin: 50px 100px;" height="450px" width="300px" alt="First slide"></a>
				</div>
				<div class="col-md-9 col-sm-0 d-none d-lg-block d-print-block" style="height: 500px; padding: 50px 125px; color: white;">
					<h1>{{ mainCarrosel.titulo }}</h1>
					<h2>{{ mainCarrosel.descricao }}</h2>
				</div>
			</div>
		</div></a>
		{% for item in carrosel %}
			<a href="https://site-conteudo.azurewebsites.net/conteudo?nome={{ item.titulo }}"><div class="carousel-item">
				<div class="row">
					<div class=" col-md-3 col-sm-2" style="height: 550px;">
						<img src="{% static item.imagem %}" style="margin: 50px 100px;" height="450px" width="300px" alt="Second slide"></a>
					</div>
					<!-- <div class="col-md-9 d-none d-lg-block d-print-block" style="height: 500px; margin-top: 25px; color: white;"> -->
					<div class="col-md-9 col-sm-0 d-none d-lg-block d-print-block" style="height: 500px; padding: 50px 125px; color: white;">
						<h1>{{ item.titulo }}</h1>
						<h2>{{ item.descricao }}</h2>
					</div>
				</div>		
			</div>
		{% endfor %}
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

